
body {
	background-color: #ecf0f1;
	/*padding: 25px;*/
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	/*overflow: hidden;*/
}


ul{
	flex-grow: 1;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	padding-bottom: .5em;
	
}
li{
	width: 100%;
	display: block!important;
}
ul:nth-of-type(2){
	margin-left: 2px;
}
legend{
	font-size: small;
}
ul li img{
	width: 100%;
	margin-radius: 50%;
}
.container{
	display: flex;
	flex-direction: row;
}

.sidebar {
	width: 100%;
	border: 1px solid #dfdfde;
	margin-left: 1em;
	padding: 0;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar  > p:nth-of-type(1){
	padding-top: 0;
	padding-bottom: 0;
}
.sidebar div img{
	height: 48px;
	width: 48px;
}
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.board-area{
	border-radius: 4px;
	border: 1px solid #dfdfde;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.board {
	width: 480px;
	height: 480px;
	display: grid;
	grid-template-columns: repeat(10, 48px);
	grid-template-rows: repeat(10, 48px);
}
.box {
	background-color: #fff;
	color: #000;
	border: 1px solid #dfdfde;
}
.player1{
	background-image: url(../assets/player1.png);
}
.player2{
	background-image: url(../assets/player2.png);
}
.barrier {
    background-image: url(../assets/barrier.png);
}
.weapon{
	content: "Weapon";
}
.weapon1{
	background-image: url(../assets/weapon1.png);
}
.weapon2{
	background-image: url(../assets/weapon2.png);
}
.weapon3{
	background-image: url(../assets/weapon3.png);
}
.weapon4{
	background-image: url(../assets/weapon4.png);
}

.barrier , 
.player1, 
.player2, 
.weapon1, 
.weapon2, 
.weapon3, 
.weapon4{
	background-size: 110%;
    background-position: center center;
    background-repeat: no-repeat;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: inset 0px 0 7px #5e72e4;
	}

	70% {
		transform: scale(1);
		box-shadow: inset 0px 0 7px #5e72e4;
	}

	100% {
		transform: scale(0.95);
		box-shadow: inset 0px 0 7px #5e72e4;
	}
}

.flashing {
	animation: pulse 1200ms infinite;
	cursor: pointer;
}

.smoothmove
{
	-webkit-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-moz-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-ms-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-o-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
}

.smoothfade
{
	-webkit-transition: box-shadow 0.25s ease-out;
	-moz-transition: box-shadow 0.25s ease-out;
	-ms-transition: box-shadow 0.25s ease-out;
	-o-transition: box-shadow 0.25s ease-out;
	transition: box-shadow 0.25s ease-out;

	-webkit-transition: background-color 0.25s ease-in time;
	-moz-transition: background-color 0.25s ease-in time;
	-ms-transition: background-color 0.25s ease-in time;
	-o-transition: background-color 0.25s ease-in time;
	transition: background-color 0.25s ease-in time;
}
.modal{
	display: block!important;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(236,240,241,0.75);
	opacity: 1;
	z-index: 1;
	visibility: hidden;
}
.modal-dialog{
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-top: 2em;
	background-color: #fff;
	z-index: 2;
}
.modal-title{
	background: #000; 
	padding-top:1em; 
	border-bottom: 0; 
	padding-bottom: 1em; 
	color: white; 
	font-weight: bold;
}
.stage{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: 
}


.progress{
	display: block;
	background-color: #ddd;
	height: 1.5em;
	text-align: center;
}
.bar{
	width: 100%;
	max-width: 100%;
	min-width: 1%;
	background: green;
	color: white;
	text-align: center;
	padding-top: 0.1555em;
	padding-bottom: 0.1555em;
}
.red{
	float: left;
}
.blue{
	float: right;
}
.btn{
	margin-top: 1em;
	border-bottom: 0;
	cursor: pointer;
}
.button{
	padding-top: 1em;
	padding-bottom: 1em;
	text-transform: uppercase;
	margin-left: .5em;
	margin-right: .5em;
	color: white;
	border-radius: 4px;
}
.disable{
	cursor: not-allowed;
	pointer-events: none;
}
.legend-block{
	display: block;
	margin-top: .5em;
	border: 1px solid #dfdfde;
	box-shadow: rgba(211, 218, 237, 0.5) 0px 7px 29px 0px;
	padding: 0;
}

#legend div{
	margin-bottom: 0;
	margin-top: .5em;
	margin-left: .5em;
	margin-right: .5em;
	padding: 0;
	display: inline-block;
}
#legend p{
	margin: 0;
	padding: 0;
}
#legend img{
	border-radius: 50%;
}
#legend img, .sidebar img{
	height: 44px;
	width: 44px;
}