html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
body {
	background-color: #ECF0F1;
	padding: 30px 25%;
	text-align: center;
}

header {
	margin-bottom: 50px;
}

ul{
	flex-grow: 1;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	padding-bottom: .5em;
	
}
li{
	width: 100%;
	display: block!important;
}
ul:nth-of-type(2){
	margin-left: 2px;
}

ul li img{
	width: 100%;
	margin-radius: 50%;
}
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.container {
	margin: 0 auto;
	width: 560px;
	height: 560px;
	display: grid;
	grid-template-columns: repeat(10, 56px);
	grid-template-rows: repeat(10, 56px);
}

.player1{
	background-image: url(../assets/player1.png);
}
.player2{
	background-image: url(../assets/player2.png);
}
.barrier {
    background-image: url(../assets/barrier.png);
}
.weapon{
	content: "Weapon";
}
.weapon1{
	background-image: url(../assets/weapon1.png);
}
.weapon2{
	background-image: url(../assets/weapon2.png);
}
.weapon3{
	background-image: url(../assets/weapon3.png);
}
.weapon4{
	background-image: url(../assets/weapon4.png);
}

.barrier , 
.player1, 
.player2, 
.weapon1, 
.weapon2, 
.weapon3, 
.weapon4{
	background-size: 110%;
    background-position: center center;
    background-repeat: no-repeat;
}
.tile {
	background-color: #fff;
	color: #000;
	border: 1px solid #dfdfde;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: inset 0px 0 7px #5e72e4;
	}

	70% {
		transform: scale(1);
		box-shadow: inset 0px 0 7px #5e72e4;
	}

	100% {
		transform: scale(0.95);
		box-shadow: inset 0px 0 7px #5e72e4;
	}
}

.flashing {
	animation: pulse 1200ms infinite;
}

.smoothmove
{
	-webkit-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-moz-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-ms-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-o-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
}

.smoothfade
{
	-webkit-transition: box-shadow 0.25s ease-out;
	-moz-transition: box-shadow 0.25s ease-out;
	-ms-transition: box-shadow 0.25s ease-out;
	-o-transition: box-shadow 0.25s ease-out;
	transition: box-shadow 0.25s ease-out;

	-webkit-transition: background-color 0.25s ease-in time;
	-moz-transition: background-color 0.25s ease-in time;
	-ms-transition: background-color 0.25s ease-in time;
	-o-transition: background-color 0.25s ease-in time;
	transition: background-color 0.25s ease-in time;
}
.modal{
	display: block!important;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index: 1;
	visibility: hidden;
}
.modal-dialog{
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-top: 2em;
	background-color: #fff;
	z-index: 2;
}

.stage{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}


.progress{
	display: block;
	background-color: #ddd;
	height: 1.5em;
	text-align: center;
}
.bar{
	width: 100%;
	min-width: 1%;
	background: green;
	color: white;
	text-align: center;
	padding-top: 0.1555em;
	padding-bottom: 0.1555em;
}
.red{
	float: left;
}
.blue{
	float: right;
}
.btn{
	margin-top: 1em;
	border-bottom: 0;
}
.button{
	padding-top: 1em;
	padding-bottom: 1em;
	text-transform: uppercase;
	margin-left: .5em;
	margin-right: .5em;
	cursor: pointer;
	color: white;
	border-radius: 4px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}