body {
	background-color: #ECF0F1;
	padding: 30px 25%;
	text-align: center;
}

header {
	margin-bottom: 50px;
}
.container {
	margin: 0 auto;
	width: 560px;
	height: 560px;
	display: grid;
	grid-template-columns: repeat(10, 56px);
	grid-template-rows: repeat(10, 56px);
}

.player1{
	background-image: url(../assets/player1.png);
}
.player2{
	background-image: url(../assets/player2.png);
}
.barrier {
    background-image: url(../assets/barrier.png);
}
.weapon1{
	background-image: url(../assets/weapon1.png);
}
.weapon2{
	background-image: url(../assets/weapon2.png);
}
.weapon3{
	background-image: url(../assets/weapon3.png);
}
.weapon4{
	background-image: url(../assets/weapon4.png);
}

.barrier , 
.player1, 
.player2, 
.weapon1, 
.weapon2, 
.weapon3, 
.weapon4{
	background-size: 110%;
    background-position: center center;
    background-repeat: no-repeat;
}
.tile {
	background-color: #fff;
	color: #000;
	border: 1px solid #dfdfde;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: inset 0px 0 7px #5e72e4;
	}

	70% {
		transform: scale(1);
		box-shadow: inset 0px 0 7px #5e72e4;
	}

	100% {
		transform: scale(0.95);
		box-shadow: inset 0px 0 7px #5e72e4;
	}
}

.flashing {
	animation: pulse 1200ms infinite;
}
.smoothmove
{
	-webkit-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-moz-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-ms-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-o-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
}

.smoothfade
{
	-webkit-transition: box-shadow 0.25s ease-out;
	-moz-transition: box-shadow 0.25s ease-out;
	-ms-transition: box-shadow 0.25s ease-out;
	-o-transition: box-shadow 0.25s ease-out;
	transition: box-shadow 0.25s ease-out;

	-webkit-transition: background-color 0.25s ease-in time;
	-moz-transition: background-color 0.25s ease-in time;
	-ms-transition: background-color 0.25s ease-in time;
	-o-transition: background-color 0.25s ease-in time;
	transition: background-color 0.25s ease-in time;
}